# Caching
REDIS_URI = "" # Replace with your REDIS URI. If you don't have one then you remove this line;

# SITE Configuration for the sitemap
NEXT_PUBLIC_DOMAIN = "http://localhost:3000" # Replace with your domain. (Required)

# API
CONSUMET_API = "" # Self host one from https://github.com/consumet/api.consumet.org
HIANIME_API = "" # Self host one from https://github.com/ghoshRitesh12/aniwatch-api
MALSYNC_URI = https://api.malsync.moe/mal/anime/anilist: # If you have your own self hosted instance you can use it.
NEXT_PUBLIC_CORS_PROXY_URL = "" # Host one from the CORS-Anywhere repository: https://github.com/consumet/cors-anywhere/

# MONGODB
MONGODB_URI = # Get one from mongodb atlas. required for anilist auth

# ANILIST SYNC
NEXTAUTH_SECRET = SECRET FOR NEXT AUTH
ANILIST_CLIENT_ID = # Get one from anilist developers setting
ANILIST_CLIENT_SECRET = # Get one from anilist developers settings
